.all{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(253, 249, 245);
}
#view{
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 40px;
}
#container{
    height:600px;
    width:900px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    background-color: black;
}

.box{
    margin:5px;
    background-color:red ;
    width:90px;
    height:90px;
}
.box:hover{
    opacity: 0.8;
}

.selected{
    background-color: white;
}
